// Style for NavBar


    .main-nav{
        background-color: $navBackgroundColor;
        overflow: hidden;
        position: sticky; 
        z-index: 5;
        top: 0;
        width: 100%;
        height: min-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            font-family: $mainFont;
            font-size: 1.5rem;
            font-weight: lighter;
            img{
                width: 15rem;
            }
        }
    }


.nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 7;
    position: fixed;
    background-color: $navBackgroundColor;
    width: 100%;
    div{
        a{
            font-family: $mainFont;
        }
    }
}

.disabled{
    display: none;
}

.span-btn{
    display: none;
    color: $keyColor;
    padding-bottom: 1rem;
}


//Breackpoint para la NavBar

@media (max-width: 570px){
    .span-btn{
        display: block;
    }
    .nav-link{
        display: none;
    }
    .nav-header{
        position: sticky; 
        height: auto;
        top: 0;
        nav{
            justify-content: space-between;
        }
    }
}

// Nav Animation

.nav-link:hover{
    a{
       color: $mainColor;
        transition: all 1s; 
    }
}

.nav-link:not(:hover){
    a{
        color: $keyColor;
        transition: all 1s;
    }
}



